body {
    padding: 0;
    margin: 0;

}

path:hover {
    fill:rgba(27, 218, 122, 0.884);
}
html, body, #map {

    height: 100%;
    width: 100%;   
    z-index: 98;
}

/* Popupbox Cluster Map */

tr:nth-child(even) {
    background-color: #6c9e3c4b;
}
h2 {

    font-size: 1.3em;
}
table{
    height: 100%;
    width: 100%;
    font-size: 1em;
}

/* Loader */

   #loader{
  display:block;
}
    #loader.inactive{
    display:none;
}
  #loading-image {
    opacity: 0.55;
    height: 230px;
    width: 230px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 116px);
    left: calc(50% - 147.5px);
    z-index: 100;
    transform-box: fill-box;
    animation: lds-hourglass 1.7s infinite linear;
    transform-origin: 116px 147.5px;
  }
  @keyframes lds-hourglass {
    from {transform:rotate(0deg);}
     to {transform:rotate(359deg);}
  }

  /* Legend current wind layer */
  .my-layer-turbine {
    position: relative;
      font-size: 3.5mm;
  }
  .legend {
    position: relative;
    padding: 8px 20px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 0;
  }
#gradient-bar {
    margin-top: 10px;
	height: 200px;
	width: 15px;
	border-radius: 10px;
	background: linear-gradient( #4A9294, #4D8E7C, #4CA44C, #67A436, #A28740, #A26D5C, #974B91);
}

.indicator {
	position: absolute;
	top: 0;
	left: 48px;
}

.indicator::before {
	content: "";
	position: absolute;
	bottom: 0.6em;
	left: -20px;
	right: 0px;
	width: 1em;
	border-top: 1.5px solid white;
}
.scale {
	position: relative;
}

/* Layer Control */
.leaflet-control-layers {
  width: 200px;
}

